@model manipulationDonneesEFCore.Models.MembershipType

<h1>Create</h1>
<h4>Membership</h4>
<hr />

@if (ViewBag.Errors != null)
{
    <div class="text-danger">
        <ul>
            @foreach (string error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SignUpFee">Sign Up Fee</label>
        <input asp-for="SignUpFee" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DurationInMonth">Duration In Month</label>
        <input asp-for="DurationInMonth" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DiscountRate">Discount Rate</label>
        <input asp-for="DiscountRate" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a asp-action="Index">Back to List</a>
</form>