@model ASPCoreFirstApp.Models.Customer

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h5>Fiche Client</h5>
                </div>
                <div class="card-body">
                    <p><strong>Identifiant :</strong> @Model.Id</p>
                    <p><strong>Nom Complet :</strong> @Model.Name</p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Retour</a>
                </div>
            </div>
        </div>
    </div>
</div>